@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/park2.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">

            </div>
        </div>
      
    </div>
   
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="#">Simple Air Parking System</a>.</p>
</div>
